:root{
  --gap: 0.8rem;
  --gap-lg:2rem;
  --padding: 1rem;
  --padding-sl: 0.5rem;
  --padding-lg: 5rem;
  --btn-padding: 0.5rem 1rem;
  --margin: 1rem;

  --border-radius: 6px;

  --font-lg: 1.5rem;
  --font-xlg: 2.5rem;
  --font-sl: 0.8rem;
  --font-md: 1.1rem;

  --light-color: #F2E6D3;
  --light-alt-color: #A09D7F;
  --dark-color: #3a2f32;
  --dark-alt-color: #755054;
  --theme-color: #92e08a;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: inherit;
}

html{
  height: 100%;
  font-size: 15px;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: var(--font-md);
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}